html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  font-size: 16px;
}

h1 {
  text-align: center;
  padding: 10px;
  background-color: #6CB2D1;
}

a {
  padding: 0 20px;
}

hr {
  margin: 20px 20px 0;
}

.personal {
  padding: 0 20px;
}

.personal img {
  width: 100px;
  height: 100px;
}

.menu-item:hover {
  font-weight: bold;
}

main {
  padding: 20px;
  margin: 0 auto;
}

main h2 {
  text-align: center;
}

.frame {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-zoom {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-zoom:hover {
  transform: scale(1.5);
}

/* pages ----------------------- */
.items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.item {
  margin-bottom: .5em;
  border: 1px #ccc solid;
  flex: 1 1 auto;
  height: 300;
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.item-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-desc {
  padding: 0.5rem;
}

.item-price {
  padding: 0.5rem;
  font-weight: bold;
}

.btn {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  background-color: #1336ce;
  padding: 0.5rem;
  color: #e2dfdf;
  border: 1px #3a3a3a solid;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-del {
  background-color: rgb(161, 5, 5);
}

.checkout {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

/* Form --------------------------- */
.form-basic {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
  max-width: 400px;
  min-width: 200px;
  padding: 1rem;
}

.data {
  height: 2rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  max-width: 400px;
}

input:required {
  border-left: red solid 6px;
}

input:required:valid {
  border-left: rgb(0, 140, 255) solid 6px;
}



/* footer ------------------------- */
footer {
  background-color: #6CB2D1;
}

footer p {
  line-height: 4em;
  text-align: center;
}

footer a {
  color: black;
  font-weight: bold;
}


.extra {
  margin: 3rem auto;
  text-align: center;
}

.extra p {
  text-align: justify;
}

.extra img {
  width: 90%;
}

ul {
  list-style: none;
}

/* media queries ------------------ */
@media only screen and (min-width: 800px) {
  .items {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .item {
    max-width: 200px; */
    flex: 1 0 auto;
    text-align: center;
    /* height: 250px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #cart-page h2 {
    padding-left: 0 20px;
  }

  #cart-page .items, #confirma-page .items{
    flex-flow: column;
    justify-content:space-around;
    padding: 1rem;
  }

  #cart-page .item, #confirma-page .item {
    height: 200;
    max-width: 90%;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 1rem;

  }

  #cart-page .item-img, #confirma-page .item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #cart-page .frame, #confirma-page .frame {
    flex: 0 0 auto;
    height: 200px;
    width: 300px;
    border-right: 1px solid gray;
    border-bottom: 0;
  }

  #cart-page .btn, #confirma-page .btn {
    margin-top: 0;
    margin-right: 0.5rem;
  }


  .frame {
    height: 150px;
    width: auto;
    border-bottom: 1px solid gray ;
  }

  .frame-desc {
    height: 60px;
    margin-bottom: 0.5rem;
  }

  .btn {
    margin-left: 0;
  }

}
