/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --blue: #90E7F8;
  --yellow: #E6F2B4;
  --red:#FF9291;
  --violet: #EEBCD6;
  --black: #464646;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  padding: 1rem;
}

.title {
  font-family: 'Lato', sans-serif;
  color: var(--black);
}
/* Header --------------------------- */
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0,2rem;
  align-items: center;
  height: 150px;
  margin-bottom: 0.5rem;

}

.logo {
  flex: 1 1 auto;
}

.logo img {
  width: 128px;
  height: auto;
}

.welcome{
  font-weight: bold;
}

nav {
  background-color: var(--black) ;
  /* color: var(--red); */
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
}

.menu-item {
  margin: 0 0.5rem;
  font-weight: bold;
}

.menu-item a {
  display: block;
  color: var(--violet);
  text-align: center;
  text-decoration: none;
  padding: 0.7rem 0.5rem;
}

.menu-item a:hover {
  background-color: var(--yellow);
  color: var(--black);
}

body.pageHome a.pageHome, 
body.pageAdmin a.pageAdmin, 
body.pageBuddies a.pageBuddies, 
body.pageTransactions a.pageTransactions {
  background-color: var(--violet);
  color: var(--black);
}

/* Table----------------- */

thead {
  background-color: var(--black);
  color: var(--yellow);
}

tr {
  padding: 0.2rem;
}

td {
  padding: 0 1rem;
}


/* Forms --------------------------------- */
.form-basic {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
  max-width: 400px;
  min-width: 200px;
  padding: 1rem;
}

.data {
  height: 2rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  max-width: 400px;
}

.form-basic .sign-button,
.regbtn {
  margin-top: 1.5rem;
  background-color: #4c96d7;
  padding: 0.5rem;
  color: #3a3a3a;
  border: 1px #3a3a3a solid;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-basic a {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

input:required {
  border-left: red solid 6px;
}

input:required:valid {
  border-left: rgb(0, 140, 255) solid 6px;
}

.password-requirements {
  font-size: 0.75rem;
}

.notification,
.notice {
  color: brown;
}

/* Footer ------------- */

footer {
  margin-top: 3rem;
  border-top: #3a3a3a solid 2px;
  padding: 0.5rem;
  font-size: 0.9rem;
}

footer>div {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
}

