@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap'); */

:root {
  --blue: #90E7F8;
  --yellow: #E6F2B4;
  --red:#FF9291;
  --violet: #EEBCD6;
  --black: #464646;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  padding: 1rem;
}

.title {
  font-family: 'Quicksand', sans-serif;
  color: var(--black);
  font-weight: lighter;
}

.subtitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  color: var(--black);
  margin-bottom: 0;
}


/* Header --------------------------- */
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0,2rem;
  align-items: center;
  height: 150px;
  margin-bottom: 0.5rem;

}

.logo {
  flex: 0 1 auto;
  width: 128px;
  min-width: 64px;
}

.logo img {
  width: 100%;
  height: auto;
}

.app-title {
  text-align: center;
}

.app-title h1 {
  margin-bottom: 0.1rem; 
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  color: var(--black);
  font-weight: lighter;
}

.title-first {
  font-weight: lighter;
}

.app-title p {
  margin-top: 0;
  font-family: 'Lato', sans-serif ;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: lighter;
  
}

.welcome {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: right;
  padding-top: 2.4rem;
  color: var(--black);
}

.welcome p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.welcome a {
  text-decoration: none;
}

.welcome a:hover {
  /* border: var(--black) 0.5px solid; */
  border-radius: 0.5em;
  background-color: var(--yellow);
  font-weight: bold;
  padding: 0.5em;
  color: var(--black);
}

nav {
  background-color: var(--black) ;
  /* color: var(--red); */
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
}

.menu-item {
  margin: 0 0.5rem;
  font-weight: bold;
}

.menu-item a {
  display: block;
  color: var(--violet);
  text-align: center;
  text-decoration: none;
  padding: 0.7rem 0.5rem;
}

.menu-item a:hover {
  background-color: var(--yellow);
  color: var(--black);
}

body.pageHome a.pageHome, 
body.pageAdmin a.pageAdmin, 
body.pageBuddies a.pageBuddies, 
body.pageTransactions a.pageTransactions {
  background-color: var(--violet);
  color: var(--black);
}

/* Table----------------- */

thead {
  background-color: var(--black);
  color: var(--yellow);
}

tr {
  padding: 0.2rem;
}

td {
  padding: 0 1rem;
}


/* Forms --------------------------------- */
.form-basic {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
  max-width: 400px;
  min-width: 200px;
  padding: 1rem;
}

.data {
  height: 2rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  max-width: 400px;
  border: var(--black) 0.5px solid;
  border-radius: 5px;
}

.form-basic .sign-button,
.regbtn {
  margin-top: 1.5rem;
  background-color: var(--yellow);
  padding: 0.5rem;
  color: var(--black);
  border: 2px #9fe222 solid;
  border-radius: 0.3em;
  font-weight: normal;
  font-size: 1.2rem;
  cursor: pointer;
}

.regbtn {
  text-decoration: none;
  background-color:var(--violet);
}

.form-basic a {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

input:required {
  /* border-left: red solid 6px; */
  border-left: var(--red) solid 6px;

}

input:required:valid {
  /* border-left: rgb(0, 140, 255) solid 6px; */
  border-left: var(--blue) solid 6px;

}

.password-requirements {
  font-size: 0.75rem;
}

.notification,
.notice {
  color: brown;
}

.form-horizontal {
  width: 250px;
  padding: 0.2rem 1rem;
}

/* Add buddy ---------- */
.buddy-add p {
  margin: 1rem 0 0.2rem;
  padding: 0 1rem;
}

#buddy-add-submit {
  margin-top: 1rem;
}

/* Footer ------------- */

footer {
  margin-top: 3rem;
  border-top: #3a3a3a solid 2px;
  padding: 0.5rem;
  font-size: 0.9rem;
}

footer>div {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
}

